#hero-image {
    min-height: 40vh;
    display: block;
    margin: auto;
}

/* First Div */
p {
    color: white;
}

h3 {
    color: white;
    text-align: center;
}

#block-1 {
    display: flex;
    justify-content: space-around;
    border: .5rem solid black;
    padding: 1rem;
    margin: 1rem 0;
}

#text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    max-width: 650px;
    font-size: 1.2rem;
}

#zed-1 {
    height: 400px;
    display: block;
    margin: auto;
}

/* Second Div */
#block-2 {
    display: flex;
    justify-content: space-around;
    border: .5rem solid black;
    padding: 1rem;
    margin: 1rem 0;
}

#text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    max-width: 650px;
    font-size: 1.2rem;
}

#zed-2 {
    height: 400px;
    display: block;
    margin: auto;
}